{% extends 'base.html' %}

{% block title %} Home {% endblock title %}


{% block content %}
{% if request.user.is_authenticated %}
<div class="container text-white my-3">
    <h1 class="border-bottom border-2 d-inline">Welcome {{request.user.first_name}}</h1>
</div>
{% endif %}
{% for obj in object %}


<div class="container bg-gradient my-5 p-3 text-white" style="background-color: black(122, 58, 58);">

    
    <div class="row">
        <div class="col my-3">
            <h1>{{obj.title}}</h1>
            <p>{{obj.date}}</p>
            
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>{{obj.discription|truncatewords:20}}</p>
        </div>
    </div>
    <a href="{% url 'show' obj.id %}" class="btn btn-outline-light p-2 my-2">Show full post</a>
</div>
{% endfor %}
{% endblock content %}